@import "bootstrap";

html,
body,
body > .container {
    height: 100%;
}

body {
    padding: 70px 0 20px;
}

#editor,
#editor .row,
#editor .col-md-6 {
    overflow: scroll;
    height: 100%;
}

#editor textarea {
    height: 100%;
}
